<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Limpar Tabela Partidas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Limpar todas as partidas</h1>
    <form method="POST" action="/limparPartidas">
        <button type="submit" onclick="return confirm('Tem certeza que deseja apagar todas as partidas?')">
            Limpar Tabela de Partidas
        </button>
    </form>
    <br>
    <a href="/tabela">Voltar para Partidas</a>
</body>
</html>
