<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registrar Partida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Registrar Resultado de Partida</h1>
    {% if times %}
    <form action="{{ url_for('adicionar_resultado') }}" method="post">
        <label for="time1">Time 1:</label>
        <select name="time1" required>
            {% for time in times %}
                <option value="{{ time }}">{{ time }}</option>
            {% endfor %}
        </select>
        <input type="number" name="gols1" min="0" required>

        <label for="time2">Time 2:</label>
        <select name="time2" required>
            {% for time in times %}
                <option value="{{ time }}">{{ time }}</option>
            {% endfor %}
        </select>
        <input type="number" name="gols2" min="0" required>

        <button type="submit" class="submit-button">Registrar Resultado</button>
    </form>
    {% else %}
    <h1>Sem Times Cadastrados!</h1>
    <a href="{{ url_for('create_teams_view') }}">Criar Time</a>
    {% endif %}

    <br>
    <a href="{{ url_for('tabela') }}">Ver Tabela de Classificação</a>
</body>
</html>
